  
<div class="col-lg-8 mx-auto p-3 py-md-5">
<main>
  <div class="text-center">
      <h1>Search For a Git hub Profile</h1>
      <p class="fs-5 ">Quickly and easily search for agit hub personal profile
         and view all the repositories. In this website users are able to enter
          a GitHub username into a form, 
         submit it, and see names and descriptions of that person's public repositories.
         A person can also look for repositories.</p>

      <div class="mb-5">
        <a routerLink="/profile" class="btn text-white btn-sm px-4">View Profiles</a>
      </div>

 </div>

  <hr class="col-3 col-md-12 mb-5">

  <div class="row g-5">
    <div class="col-md-6">
      <h2>Why Github</h2>
      <p>Millions of developers and companies build, ship, and maintain their software on GitHub—the largest and most advanced development platform in the world.</p>
      <ul class="icon-list">
        <li><a href="" class="text-dark">65+ million Developers</a></li>
        <li class="">3+ million Organizations</li>
        <li class="">200+ million Repositories</li>
        <li class="">72% Fortune 50</li> 
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Open Source Guides</h2>
      <p>Open source software is made by people just like you. Learn how to launch and grow your project.</p>
      <ul class="icon-list text-dark">
        <li><a href="">How to Contribute to Open Source</a></li>
        <li><a href="">Starting an Open Source Project</a></li>
        <li><a href="">Finding Users for Your Project</a></li>
        <li><a href="">Building Welcoming Communities</a></li>
        <li><a href="">Best Practices for Maintainers</a></li>
      </ul>
    </div>
  </div>
</main>
</div>

