*{
  box-sizing: border-box;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn{
  background: rgb(22,100,111);
  background: linear-gradient(90deg, rgba(22,100,111,1) 11%, rgba(0,0,0,1) 89%);
}

